.DS_Store
nand2tetris/projects/
nand2tetris/tools/Assembler.bat
nand2tetris/tools/Assembler.sh
nand2tetris/tools/CPUEmulator.bat
nand2tetris/tools/CPUEmulator.sh
nand2tetris/tools/HardwareSimulator.bat
nand2tetris/tools/HardwareSimulator.sh
nand2tetris/tools/JackCompiler.bat
nand2tetris/tools/JackCompiler.sh
nand2tetris/tools/OS
nand2tetris/tools/TextComparer.bat
nand2tetris/tools/TextComparer.sh
nand2tetris/tools/VMEmulator.bat
nand2tetris/tools/VMEmulator.sh
nand2tetris/tools/bin
nand2tetris/tools/builtInChips
nand2tetris/tools/builtInVMCode
