Checks: "-*,
        bugprone-*,
        -clang-diagnostic-*,
        -clang-analyzer-*,
        -cppcoreguidelines-*,
        -llvm-*,
        llvm-qualified-auto,
        misc-*,
        modernize-*,
        readability-*,
        performance-*,
        portability-*,
        -cppcoreguidelines-prefer-member-initializer,
        -llvm-include-order,
        -llvmlibc-callee-namespace,
        -llvm-else-after-return,
        -misc-use-anonymous-namespace,
        -misc-no-recursion,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -readability-else-after-return,
        -readability-magic-numbers,
        -readability-function-cognitive-complexity,
        -readability-avoid-unconditional-preprocessor-if,
        -readability-function-size,
"

WarningsAsErrors: 'bugprone-not-null-terminated-result, cert-*'
HeaderFilterRegex: ''
FormatStyle: 'none'

#CheckOptions:
#- key: readability-function-cognitive-complexity.Threshold
#  value: 10
#- key: readability-function-cognitive-complexity.DescribeBasicIncrements
#  value: false
#- key: readability-function-size.LineThreshold
#  value: 90
#- key: readability-function-size.StatementThreshold
#  value: 50
